body {
    background-color: #0b132b; /* Azul muy oscuro para proteger la vista */
    color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
    background-color: #1c2541; /* Tono ligeramente más claro para la tarjeta */
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 400px;
    padding: 2rem;
}

.brand-logo {
    width: 201px;
    height: 81px;
    display: block;
    margin: 0 auto 1.5rem;
    object-fit: contain;
}

.form-control {
    background-color: #3a506b;
    border: 1px solid #5bc0be;
    color: white;
}

    .form-control:focus {
        background-color: #3a506b;
        color: white;
        border-color: #ffcc00; /* Dorado del logo al enfocar */
        box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, 0.25);
    }

.btn-primary {
    background-color: #0056b3; /* Azul EMI */
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

    .btn-primary:hover {
        background-color: #004494;
        transform: translateY(-2px);
    }

.forgot-password {
    color: #ffcc00; /* Dorado para resaltar */
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.3s;
}

    .forgot-password:hover {
        color: #ffffff;
        text-decoration: none;
    }

/* Estilos para el Modal */
.modal-content {
    background-color: #1c2541;
    color: white;
    border: 1px solid #ffcc00;
}

.modal-header {
    border-bottom: 1px solid #3a506b;
}

.modal-footer {
    border-top: 1px solid #3a506b;
}

.close {
    color: white;
}

    .close:hover {
        color: #ffcc00;
    }
